{% extends 'base.html' %}
{% block content %}
<div class="max-w-md mx-auto mb-6">
  <h3 class="text-center mb-5">登录</h3>
  <form method="post">
    <div class="mb-4">
      <label class="form-label">用户名</label>
      <input class="form-control p-3" name="username" required>
    </div>
    <div class="mb-5">
      <label class="form-label">密码</label>
      <input class="form-control p-3" name="password" type="password" required>
    </div>
    <button class="btn btn-primary btn-block-mobile w-100 p-3">登录</button>
  </form>
</div>
{% endblock %}
