{% extends 'base.html' %}
{% block content %}
<div class="max-w-md mx-auto mb-6">
  <h3 class="text-center mb-5">注册</h3>
  <form method="post">
    <div class="mb-4">
      <label class="form-label">用户名</label>
      <input class="form-control p-3" name="username" required>
    </div>
    <div class="mb-4">
      <label class="form-label">密码</label>
      <input class="form-control p-3" name="password" type="password" required>
    </div>
    <div class="mb-4">
      <label class="form-label">球队名称</label>
      <input class="form-control p-3" name="team_name" required>
    </div>
    <div class="mb-4">
      <label class="form-label">联系人</label>
      <input class="form-control p-3" name="contact" required>
    </div>
    <div class="mb-5">
      <label class="form-label">联系电话</label>
      <input class="form-control p-3" name="phone" required>
    </div>
    <button class="btn btn-primary btn-block-mobile w-100 p-3">注册</button>
  </form>
</div>
{% endblock %}
